@charset "utf-8";
// @import "compass/reset";
@import "compass/css3";

/*重置样式*/
ul,li{
	list-style: none;
	padding:0;
	margin:0;
}

/*重置样式 END*/

/*全局样式*/
body{
	padding:20px;
}
.table-center{
	th,td{
		vertical-align: middle !important;
		text-align: center !important;
	}
}
.mask{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
}
.modal-body{
	font-size:22px;
}
.inline-block{
	display:inline-block;
}
.table caption{
	text-align:center;
	font-size:140%;
	font-weight:600;
}
.table thead th{
	text-align:center;
}
th>label,td>label{
	margin:0;
}
tbody td:first-child{
	text-align:center;
	label{
		margin-left:-34px;
	}
}
$box_w:1200px;
.box-wrap{
	width:$box_w;
	margin:0 auto;
}
#main-body{
	position:relative;
}
$sideNav_w:150px;
$sideNav_h:60px;
#sideNav-wrap{
	width:$sideNav_w;
	text-align:center;
	position:relative;
	border:1px solid #ccc;
	li{
		float:none;
		background:#eee;
		margin:0;
		height:$sideNav_h;
		line-height: $sideNav_h;
		position:relative;
		&>a{
			padding:0;
			border:0;
			margin:0;
			border-radius:0;
			line-height: $sideNav_h;
			&:hover{
				background:#97bee0;
			}
		}
		&.active>a{
			border:0;
			background:#337ab7;
			color:#fff;
		}
	}
	.dropdown-menu{
		left:$sideNav_w;
		margin-top:- $sideNav_h;
		padding:0;
		width:$sideNav_w;

		li{
			text-align: center;
		}
	}

}


.table-responsive {
    width:100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd
}

.table-responsive>.table {
    margin-bottom: 0
}

.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th {
    white-space: nowrap
}

.table-responsive>.table-bordered {
    border: 0
}

.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child {
    border-left: 0
}

.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child {
    border-right: 0
}

.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0
}
.table-responsive caption{
	border-bottom:1px solid #ddd;
}
.table-responsive thead{
	font-weight:600;
}

/*全局样式 END*/

/*上传*/
#sideNav-content{
	position:absolute;
	top:0;
	left:$sideNav_w + 20px;
	right:0;
	.btn{
		position:relative;
	}
	@at-root #xlf{
		position:absolute;
		left:0;
		width:100%;
		top:0;
		bottom:0;
		@include opacity(0);
		cursor: pointer;
	}
	@at-root #out{
		margin-top:20px;
	}
	@at-root .tab-pane{
		.search-btn{
			margin-left:10px;
		}
		.dropdown-menu{
			max-height: 150px;
			overflow: auto;
			li{
				padding:3px 20px;
				cursor: pointer;
				&:hover{
					background:#337ab7;
					color:#fff;
				}
			}
		}
	}
	@at-root .page-wrap{
		text-align: center;
		-webkit-user-select:none;
		-ms-user-select:none;
		-moz-user-select:none;
	}
	@at-root td:last-child{
		.controls:nth-of-type(2){
			margin:0 10px;
		}
	}
	@at-root .search-result{
		display: none;
		.table-wrap{
			@at-root .pagination-item{
				display: none;
				&.active{
					display: table;
				}
			}
		}
		@at-root .bt-btn-wrap{
			.operates{
				&.disabled{
					color:#ccc;
					pointer-events:none;
				}
			}
		}
	}

	@at-root #page3{
		.table-wrap{
			tbody{
				tr{
					td{
						border-color:#337ab7 #ddd #337ab7 #ddd;
						pointer-events:auto;
					}
					&.readonly{
						td{
							border-color:#ddd;
							pointer-events:none;
							&:last-child{
								pointer-events:auto;
							}
						}
					}
				}
			}
		}
	}
	@at-root #page4{
		@extend #page3;
	}


}


/*上传 END*/

/*订单管理*/

/*订单管理 END*/

/*商家管理*/
#page3{
	.table-wrap{
		tbody{
			tr{
				td{
					border-color:#337ab7 #ddd #337ab7 #ddd;
					pointer-events:auto;
					&:nth-of-type(3){
						pointer-events:none;
					}
				}
				&.readonly{
					td{
						border-color:#ddd;
						&.controls{
							pointer-events:auto!important;
						}
						pointer-events:none!important;
					}
				}
			}
		}
	}
}
.preview{
	display:inline-block;
	width:100px;
	height:100px;
	position:relative;
	
	img{
		display: block;
		width:100%;
		height:100%;
	}
	input{
		position:absolute;
		left:0;
		top:0;
		box-sizing: border-box;
		width:100%;
		height:100%;
		cursor:pointer;
		@include opacity(0);
	}
}
/*商家管理 END*/

/**/
 #page4{
	@extend #page3;
	.table-wrap{
		tbody{
			tr{
				td{
					&:nth-of-type(3){
						pointer-events:auto;
					}
					.dropdown{
						width: 100%;
						button.dropdown-toggle{
							min-width: 100px;
						}
						.dropdown-menu{
							left:50%;
						}
					}
				}
			}
		}
	}
 }
/**/
